<!--
    /// <summary>
    /// Creator: Skyann Heintz
    /// Created:  2025/03/30
   /// Summary: View to create a new item
    ///
    /// Updated By: Skyann Heintz
    /// Updated: 2025-04-28
    /// What Was Changed: Styling was added to the page.
-->
@model DataDomain.NeedList

@{
    ViewData["Title"] = "AddItem";
    
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                <h2 class="text-center mb-4">Create Item</h2>
                <form asp-action="AddItem">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProjectID" class="control-label" hidden></label>
                        <input asp-for="ProjectID" class="form-control" hidden/>
                        <span asp-validation-for="ProjectID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a asp-action="NeedList" asp-route-projectID="@ViewBag.ProjectID" class="btn btn-secondary ml-3">Back to Need List</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}